@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  font-family: 'Sora';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--Neutral-01, #FCFCFC);
}

#connect-button {
  font-family: 'Source Sans 3';
}

#scroll-text {
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  -moz-animation: scroll-text-animation 15s linear infinite;
  -webkit-animation: scroll-text-animation 15s linear infinite;
  animation: scroll-text-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes scroll-text-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes scroll-text-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes scroll-text-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.rc-pagination-item {
  color: var(--Neutral-04, #6F767E);
  cursor: pointer;
  font-family: 'Sora';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.rc-pagination-item-active {
  color: var(--Neutral-03, #D6D9DC);
}
